@section Scripts{
    <script src="~/lib/app/Controllers/Bill/BillIndex.js"></script>
    <script src="~/lib/mustache/mustache.js"></script>
    
    
    <script>
        var bill = new BillController();
        bill.initialize();
    </script>
}
<div class="" role="main">
    <div class="">
        <div class="page-title" style="text-align:center">
            <div style="float:left;margin:5px;margin-left: 50px;">
                <label>Create Date</label>
                <input type="date" />
            </div>
            <div style="float:left; margin:5px">
                <label>From Date</label>
                <input type="date" />
            </div>
            <div style="float:left; margin:5px">
                <label>Customer</label>
                <input style="border-radius:25px" />
                <button class="btn-success" style="border-radius:25px">Search</button>
            </div>
            <div style="float:left; margin:5px">
                <button id="btn-CreateBill"><i class="glyphicon glyphicon-plus-sign"></i></button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Customer Name</th>
                                <th>Payment menthod</th>
                                <th>Order date</th>
                                <th>Status</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-bill"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="x-tmpl-mustache" id="template-table-bill">
    <tr>
        <td>{{id}}</td>
        <td>{{customerName}}</td>
        <td>{{paymentMenthod}}</td>
        <td>{{{dateCreate}}}</td>
        <td>{{status}}</td>
        <td style="text-align:center"><button style="border:none;background-color:transparent" id="{{id}}" class="btn_ViewBill"><i class="glyphicon glyphicon-eye-open"></i></button></td>
    </tr>
</script>
@Html.Partial("AddEditBill.cshtml")